.checkView {
    display: flex;
    flex: row;
    height: 100%;
    .checkViewRow {
        height: 100%;
    }
    .checkInfo {
        height: 100%;
        .el-card {
            height: 100%;
        }
        .infoItem {
            .item {
                height: pxTorem(36px);
                line-height: pxTorem(36px);
                display: flex;
                -webkit-flex-direction: row;
                label {
                    text-align: justify;
                    width: pxTorem(70px);
                    font-weight: 800;
                    span {
                        padding-left: 100%;
                        display: inline-block
                    }
                }
                .value {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    flex: 1;
                    margin-left: pxTorem(5px);
                }
            }
        }
    }
    .checkSpace {
        height: 100%;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &>.el-card {}
        .checkMain {
            height:calc(60% - #{pxTorem(10px)});
            margin-bottom: pxTorem(10px);
            .el-card__body {
                padding: 0;
            }
            .checkMainBody {
                height: 100%;
                &>.el-tabs {
                    height: 100%;
                    border: 0;
                }
                .isPassIcon {
                    color: green !important;
                }
                .isPass {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    color: green;
                    height: 100%;
                    justify-content: center;
                    .icon {
                        font-size: pxTorem(120px)
                    }
                    .text {
                        font-size: pxTorem(24px)
                    }
                }
                .el-tabs__content {
                    .el-tab-pane {
                        height: 100%;
                    }
                    display: flex;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-evenly;
                    justify-content: space-evenly;
                    justify-content: space-between;
                }
                .stepFrom {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .stepInputs {
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: pxTorem(20px);
                        .stepInput {
                            margin-bottom: 0;
                        }
                    }
                    .checkChioce {
                        //margin-bottom: pxTorem(20px);
                        display: flex;
                        justify-content: space-between;
                        padding: pxTorem(5px) pxTorem(10px);
                        label {
                            margin-right: pxTorem(10px);
                        }
                        .testType {
                            line-height: pxTorem(36px);
                        }
                        .deviation {
                            line-height: pxTorem(36px);
                            .range {}
                            .tolerance {
                                display: flex;
                                flex-direction: row;
                                .stdValue {}
                                .tolText {
                                    display: flex;
                                    flex-direction: column;
                                    .stdValueMinus,
                                    .stdValuePlus {
                                        line-height: pxTorem(10px);
                                        font-size: pxTorem(12px);
                                    }
                                }
                            }
                        }
                    }
                }
                .stepBtn {
                    margin-bottom: 0;
                    margin-right: 0;
                    .el-form-item__content {
                        display: flex;
                        width: 100%;
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .checkEnd {
            height: 40%; //flex: 1;
            .checkEnd-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .edit {}
            }
            .el-card__body {
                position: relative;
                background-color: #d5d5d5;
                display: block;
                padding: 0;
                .checkEndBody {
                    overflow-y: auto;
                    padding: pxTorem(10px);
                    height: 100%;
                    .success {
                        color: green;
                    }
                    .error {
                        color: red;
                    }
                }
            }
        }
    }
    .checkEndBodyLoading {
        height: 100%;
        width: 100%;
        background-color: rgba(84, 83, 83, 0.6);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.checkInfoInput {
    z-index: 2000;
    .inputBox {
        width: 50%;
        max-width: pxTorem(500px);
    }
    .box-card {
        .el-card__header {
            color: #6a6a6a;
        }
    }
    .subBtn {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .el-form-item__content {
            display: flex;
            justify-content: center;
            margin-left: 0 !important;
        }
    }
    .el-form-item {
        .el-form-item__content {
            margin-left: 10px !important;
        }
    }
}