.checkView {
    display: flex;
    flex: row;
    height: 100%;
    .checkViewRow {
        height: 100%;
    }
    .checkInfo {
        height: 100%;
        .el-card {
            height: 100%;
        }
        .infoItem {
            .item {
                height: 36px;
                line-height: 36px;
                display: flex;
                -webkit-flex-direction: row;
                label {
                    text-align: justify;
                    width: 70px;
                    font-weight: 800;
                    span {
                        padding-left: 100%;
                        display: inline-block
                    }
                }
                .value {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    flex: 1;
                    margin-left: 5px;
                }
            }
        }
    }
    .checkSpace {
        height: 100%;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &>.el-card {}
        .checkMain {
            margin-bottom: 10px;
            .el-card__body {
                padding: 0;
            }
            .checkMainBody {
                height: 100%;
                &>.el-tabs {
                    height: 100%;
                    border: 0;
                }
                .el-tabs__content {
                    display: flex;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-evenly;
                    justify-content: space-evenly;
                    justify-content: space-between;
                }
                .stepFrom {
                    display: flex;
                    flex-direction: column;
                    .stepInputs {
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: 20px;
                        .stepInput {
                            margin-bottom: 0;
                        }
                    }
                    .checkChioce {
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 10px;
                        label{
                            margin-right:10px;
                        }
                        .testType {
                            line-height: 36px;
                        }
                        .deviation {
                            line-height: 36px;
                            .range {}
                            .tolerance {
                                display: flex;
                                flex-direction: row;
                                .stdValue {}
                                .tolText {
                                    display: flex;
                                    flex-direction: column;
                                    .stdValueMinus,
                                    .stdValuePlus {
                                        line-height: 10px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .stepBtn {
                    margin-bottom: 0;
                    margin-right: 0;
                    .el-form-item__content {
                        display: flex;
                        width: 100%;
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .checkEnd {
            flex: 1;
            .checkEndBody {
                height: 100%;
                .success {
                    color: green;
                }
                .error {
                    color: red;
                }
            }
        }
    }
}

.checkInfoInput {
    z-index: 2000;
    .inputBox {
        width: 50%;
        max-width: 500px;
    }
    .box-card {
        .el-card__header {
            color: #6a6a6a;
        }
    }
    .subBtn {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .el-form-item__content {
            margin-left: 0 !important;
        }
    }
}