.body-warp {
    animation: fadeIn .5s ease;
    height: 100%;
    .view-page {
        height: 100%;
        .mainLoading {
            height: 100%;
            width: 100%;
            background-color: rgba(31, 45, 61, 0.52);
            color: white;
            display: flex;
            justify-content: center;
            z-index: 99999;
            .msg {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .icon {
                    text-align: center;
                    margin-bottom: pxTorem(10px);
                    font-size: pxTorem(26px);
                }
                .title {}
            }
        }
        .mainPage {
            height:100%;
            .pad {
                height: 100%;
                display: flex;
                flex-direction: row;
            }
            //.phone.scss......
        }
    }
}

// 左侧导航栏目 
.left-side {
    width: pxTorem(200px);
    height: 100%;
    border-right: 1px solid #dfdfdf;
    background-color: #8b94a2;
    .logo {
        height: pxTorem(50px);
        line-height: pxTorem(50px);
        text-align: center;
        font-size: pxTorem(26px);
        font-weight: 800;
        background-color: #1d90e6;
        color: white;
    }
    .singleItem {
        color: #6a6a6a;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        height: pxTorem(50px);
        line-height: pxTorem(50px);
        padding: 0px pxTorem(10px);
        border: 1px solid #dfdfdf;
        i {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10px;
            width: pxTorem(30px);
            width: pxTorem(20px);
            text-align: center;
        }
        .title {
            flex: 1;
        }
    }
    .subItem {
        color: #6a6a6a;
        background-color: #ffffff;
        border: 1px solid #dfdfdf;
        .subTitle {
            height: pxTorem(50px);
            line-height: pxTorem(50px);
            padding: 0px pxTorem(10px);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            i {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: pxTorem(10px);
                width: pxTorem(30px);
                width: pxTorem(20px);
                text-align: center;
            }
            .title {
                flex: 1;
            }
            .arrow {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: pxTorem(10px);
                width: pxTorem(30px);
                width: pxTorem(20px);
                text-align: center;
                font-size: pxTorem(20px);
            }
        }
        .subChild {
            background-color: #bbbec2;
            display: none;
            border-top: 1px solid #dfdfdf;
            li {
                padding-left: pxTorem(20px);
                padding-right: pxTorem(10px);
                height: pxTorem(40px);
                ;
                line-height: pxTorem(40px);
                border-bottom: 1px solid #dfdfdf;
            }
            li:last-child {
                border-bottom: 0px solid #dfdfdf;
            }
        }
    }
    .showSubChild+.subChild {
        display: block !important;
    }
    .active {
        background-color: #0f7992;
        color: white;
    }
}

.main-content {
    flex: 1;
    position: relative; // display: flex;
    background-color: #b5effc42; // flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header-section {
        padding: 0px 10px;
        padding-left: 0;
        height: pxTorem(51px);
        background-color: #fff;
        border-bottom: 1px solid #eff0f4;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
        top: 0;
        .menu-left {
            display: flex;
            flex-direction: row;
            .logo {
                height: pxTorem(50px);
                line-height: pxTorem(50px);
                text-align: center;
                font-size: pxTorem(26px);
                font-weight: 800;
                background-color: #1d90e6;
                color: white;
                padding: 0px pxTorem(10px);
            }
            i {
                margin-left: pxTorem(10px);
                line-height: pxTorem(50px);
                color: #48576a;
            }
        }
        .menu-right {
            flex: 1;
            text-align: right;
            font-size: 0;
            .notification-list {
                position: relative;
                display: inline-block;
                z-index: 999;
                .notification-btn {
                    display: block;
                    padding: 0 pxTorem(15px);
                    height: pxTorem(50px);
                    line-height: pxTorem(50px);
                    font-size: pxTorem(14px);
                    background: #fff;
                    color: #333;
                    cursor: pointer;
                    transition: background ease 0.2s;
                    img {
                        vertical-align: middle;
                        margin-right: pxTorem(5px);
                        width: pxTorem(26px);
                        border-radius: pxTorem(2px);
                    }
                    .icon {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: pxTorem(2px);
                        vertical-align: middle;
                        border-color: #424f63;
                        border-top: pxTorem(4px) solid;
                        border-right: pxTorem(4px) solid #fff;
                        border-left: pxTorem(4px) solid #fff;
                    }
                }
            }
        }
    }
    .pageContent {
        height: calc(100% - #{pxTorem(51px)});
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: pxTorem(10px);
        position: relative;
    }
    .panel {
        background-color: #fff;
        border-radius: pxTorem(4px);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        height: 100%;
        .panel-title {
            border-top-left-radius: pxTorem(4px);
            border-top-right-radius: pxTorem(4px);
            color: white;
            background-color: #1d90e6;
            padding: 0 pxTorem(15px);
            height: pxTorem(45px);
            line-height: pxTorem(45px);
            font-size: pxTorem(14px);
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
            .panel_title_select {
                display: inline-block;
                .el-input__inner {
                    height: pxTorem(28px);
                }
            }
        }
        .panel-body {
            padding: pxTorem(15px);
            overflow-y: auto;
            font-weight: normal;
            position: relative;
            $panelBodyHeight: pxTorem(45px);
            height: calc(100% - 2.8125rem);
            .bottom-toolbar {
                margin-top: pxTorem(15px);
                padding: pxTorem(15px) 0;
            }
        }
    }
    .footer {
        background: #fff;
        padding: pxTorem(15px);
        color: #7A7676;
        font-size: pxTorem(12px);
        position: static;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #eff0f4;
    }
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    width: fit-content;
    padding: pxTorem(5px);
    border-radius: pxTorem(5px);
    background: #65cea7;
    .dropdown-list {
        padding: 0;
        line-height: normal;
    }
    .dropdown-btn {
        display: block;
        color: #fff;
        font-size: pxTorem(13px);
        padding: pxTorem(7px) pxTorem(7px);
        text-align: left;
        border-radius: pxTorem(3px);
        cursor: pointer;
        &:hover {
            background: #2a323f;
            color: #fff;
        }
        .icon {
            margin-right: pxTorem(5px);
        }
    }
}

// 列表
.el-table {
    height: 100% !important;
    td {
        text-align: center;
    }
    thead .cell {
        text-align: center;
    }
    .cell,
    th>div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .edit {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .el-table__body-wrapper {
        height:calc(100% - #{pxTorem(40px)}) !important;
    }
}

//卡片
.el-card {
    .el-card__header {
        padding: 0 pxTorem(15px);
        height: pxTorem(42px);
        line-height: pxTorem(42px);
        span {
            font-weight: 800;
        }
    }
    .el-card__body {
        height: calc(100% - #{pxTorem(42px)});
    }
}

//tab切换
.el-tabs {
    .el-tabs__header {}
    .el-tabs__content {
        height: calc(100% - #{pxTorem(42px)});
    }
}

//用户信息选择
.dropdown-btn {
    display: flex !important;
    flex-direction: row;
    i {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    span {
        flex: 1;
        white-space: nowrap;
    }
}

//页面加载中
.esop-pageloading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 45, 61, 0.52);
    color: white;
    display: flex;
    justify-content: center;
    z-index: 99999;
    .msg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .icon {
            text-align: center;
            margin-bottom: pxTorem(10px);
            font-size: pxTorem(26px);
        }
        .title {}
    }
}

//下拉框
.el-select {
    .el-input {
        .el-input__icon {
            transition: transform .3s;
            -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotateZ(180deg);
        }
    }
}

//输入框-number
.el-input-number {
    >* {
        height: 100%;
    }
    .el-input__inner {
        overflow: hidden;
    }
}

.el-input__inner {
    height: pxTorem(36px)
}

//用户下拉
.el-dropdown-menu {
    min-width: pxTorem(100px);
}

.el-form-item {
    display: flex;
    .el-form-item__label {
        width: pxTorem(100px);
    }
    .el-form-item__content {
        .el-date-editor.el-input {
            width: inherit;
        }
        flex:1;
    }
}

.el-message{
    transform: translateX(-50%);
}
.el-loading-spinner .circular{
    animation: loading-rotate 2s linear infinite;
}