//登录
// 检查清单
.checkList {
    .deteTable,
    .deteCheck {
        height: 100%;
    }
    .tableBox {
        height: calc(100% - #{pxTorem(205px)});
        .el-card__body {
            padding: 0;
        }
        .el-table {
            height: 100%;
            border: 0;
        }
        .el-form-item:last-child {
            margin-bottom: 0;
        }
        .edit {
            display: flex;
            justify-content: center;
        }
        .cell {
            text-align: center;
        }
    }
    .detectionBtn {
        height: pxTorem(40px);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        button {
            width: pxTorem(150px);
        }
    }
}

//产品履历
.product {
    display: flex;
    flex-direction: column;
    height: 100%;
    .formImg {
        display: flex;
        flex-direction: row;
        height: calc(100% - #{pxTorem(60px)});
        margin-bottom: pxTorem(10px);
        &>.el-row {
            height: 100%;
            width: 100%;
        }
        .productFroms {
            height: 100%;
            &>* {
                height: 100%;
            }
            .productFromsItem {
                .productFromsItem-body {
                    .norm {
                        .el-form-item {
                            margin-bottom: pxTorem(22px);
                            display: flex;
                            .el-form-item__label {
                                width: pxTorem(100px);
                            }
                        }
                    }
                }
            }
        }
        .productImg {
            height: 100%;
            &>* {
                height: 100%;
            }
            .imgInfo,
            .imgUpdate {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                .el-card__header {
                    height: pxTorem(42px);
                    line-height: pxTorem(42px);
                    text-align: center;
                    padding: 0;
                }
                .el-card__body {
                    height: calc(100% - #{pxTorem(42px)});
                    padding: 0;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .imgViewBox {
                    .imageBox {
                        li {
                            text-align: center;
                        }
                    }
                }
            }
            .imgUpdate {
                .imgItem {
                    display: flex;
                    flex-direction: column;
                }
                .avatar-uploader .el-upload {
                    border-radius: pxTorem(6px);
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    i {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                .avatar-uploader .el-upload:hover {
                    border-color: #409EFF;
                }
                .avatar-uploader-icon {
                    font-size: pxTorem(28px);
                    color: #8c939d;
                    text-align: center;
                }
                .avatar {
                    width: pxTorem(178px);
                    height: pxTorem(178px);
                    display: block;
                }
                .el-card__body,
                .avatar-uploader,
                .el-upload {
                    height: 100%;
                }
            }
            .imgItem {
                height: calc(50% - #{pxTorem(10px)});
            }
        }
    }
    .subBtn {
        height: pxTorem(50px);
        margin-bottom: 0;
        display: flex;
        align-items: center;
        .el-form-item__content {
            display: flex;
            width: 100%;
            justify-content: center;
            button {
                padding: pxTorem(10px) pxTorem(60px);
            }
            .el-button+.el-button {
                margin-left: pxTorem(20px);
            }
        }
    }
    .subBtn .el-form-item__content {
        margin-left: 0 !important;
    }
}

//批次录入
.batchEnter {
    height: 100%;
    display: flex;
    flex-direction: column;
    .deteTable,
    .deteCheck {
        height: 100%;
    }
    .detectionFrom {
        margin-bottom: pxTorem(20px);
        .detectionFrom-header {
            height: 100%;
            display: flex;
            justify-content: space-between;
            .name {
                font-weight: 800;
            }
            .btn {
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .el-card__body {
            .el-col {
                margin-bottom: pxTorem(20px);
            }
            .el-col:last-child {
                margin-bottom: 0;
            }
        }
        .el-form-item {
            .el-form-item__label {
                width: pxTorem(70px) !important;
            }
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .tableBox {
        flex: 1;
        .el-card__body {
            padding: 0;
        }
        .el-table {
            height: 100%;
            border: 0;
        }
        .el-form-item:last-child {
            margin-bottom: 0;
        }
        .edit {
            display: flex;
            justify-content: center;
        }
        .cell {
            text-align: center;
        }
    }
    .detectionBtn {
        height: pxTorem(40px);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        button {
            width: pxTorem(150px);
        }
    }
}