//登录
// 检查清单
.padView {
    .checkList {
        .deteTable,
        .deteCheck {
            height: 100%;
        }
        .tableBox {
            height: calc(100% - #{pxTorem(205px)});
            .el-card__body {
                padding: 0;
            }
            .el-table {
                height: 100%;
                border: 0;
            }
            .el-form-item:last-child {
                margin-bottom: 0;
            }
            .edit {
                display: flex;
                justify-content: center;
            }
            .cell {
                text-align: center;
            }
        }
        .detectionBtn {
            height: pxTorem(40px);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            button {
                width: pxTorem(150px);
            }
        }
    } //产品履历
    .product {
        display: flex;
        flex-direction: column;
        height: 100%;
        .formImg {
            display: flex;
            flex-direction: row;
            height: calc(100% - #{pxTorem(60px)});
            margin-bottom: pxTorem(10px);
            &>.el-row {
                height: 100%;
                width: 100%;
            }
            .productFroms {
                height: 100%;
                &>* {
                    height: 100%;
                }
                .productFromsItem {
                    .productFromsItem-body {
                        .norm {
                            .el-form-item {
                                margin-bottom: pxTorem(22px);
                                display: flex;
                                .el-form-item__label {
                                    width: pxTorem(100px);
                                }
                            }
                        }
                    }
                }
                .el-input.is-disabled .el-input__inner {
                    color: initial;
                }
                .el-textarea.is-disabled .el-textarea__inner {
                    color: initial;
                }
            }
            .productImg {
                height: 100%;
                &>* {
                    height: 100%;
                }
                .imgInfo,
                .imgUpdate {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                    .el-card__header {
                        height: pxTorem(42px);
                        line-height: pxTorem(42px);
                        text-align: center;
                        padding: 0;
                    }
                    .el-card__body {
                        height: calc(100% - #{pxTorem(42px)}) !important;
                        padding: 0;
                        .imgItemBody {
                            height: 100%;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .imgViewBox {
                        .imageBox {
                            li {
                                text-align: center;
                            }
                        }
                    }
                }
                .imgUpdate {
                    .imgItem {
                        display: flex;
                        flex-direction: column;
                    }
                    .avatar-uploader .el-upload {
                        border-radius: pxTorem(6px);
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        i {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                    .avatar-uploader .el-upload:hover {
                        border-color: #409EFF;
                    }
                    .avatar-uploader-icon {
                        font-size: pxTorem(28px);
                        color: #8c939d;
                        text-align: center;
                    }
                    .avatar {
                        width: pxTorem(178px);
                        height: pxTorem(178px);
                        display: block;
                    }
                    .el-card__body,
                    .avatar-uploader,
                    .el-upload {
                        height: 100%;
                    }
                }
                .imgItem {
                    height: calc(50% - #{pxTorem(10px)});
                }
            }
        }
        .subBtn {
            height: pxTorem(50px);
            margin-bottom: 0;
            display: flex;
            align-items: center;
            .el-form-item__content {
                display: flex;
                width: 100%;
                justify-content: center;
                button {
                    padding: pxTorem(10px) pxTorem(60px);
                }
                .el-button+.el-button {
                    margin-left: pxTorem(20px);
                }
            }
        }
        .subBtn .el-form-item__content {
            margin-left: 0 !important;
        }
    } //产品履历信息列表
    .productList {
        height: 100%;
        padding: pxTorem(10px);
        display: flex;
        flex-direction: column;
        .listForm {
            margin-bottom: pxTorem(20px);
            .el-form-item {
                margin-bottom: 0;
            }
        }
        .listTable {
            flex: 1;
            width: 100%;
        }
    } //批次录入
    .batchEnter {
        height: 100%;
        display: flex;
        flex-direction: column;
        .deteTable,
        .deteCheck {
            height: 100%;
        }
        .detectionFrom {
            margin-bottom: pxTorem(20px);
            .detectionFrom-header {
                height: 100%;
                display: flex;
                justify-content: space-between;
                .name {
                    font-weight: 800;
                }
                .btn {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .el-form-item__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
            .el-card__body {
                .el-col {
                    margin-bottom: pxTorem(20px);
                }
                .el-col:last-child {
                    margin-bottom: 0;
                }
            }
            .el-form-item {
                .el-form-item__label {
                    width: pxTorem(70px) !important;
                }
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        .tableBox {
            flex: 1;
            .el-card__body {
                padding: 0;
            }
            .el-table {
                height: 100%;
                border: 0;
            }
            .el-form-item:last-child {
                margin-bottom: 0;
            }
            .edit {
                display: flex;
                justify-content: center;
            }
            .cell {
                text-align: center;
            }
        }
        .detectionBtn {
            height: pxTorem(40px);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            button {
                width: pxTorem(150px);
            }
        }
    } //上岗纪录
    .workonoff {
        display: flex;
        flex-direction: column;
        padding: 0;
        .workonoff-list {
            overflow: hidden;
            height: calc(100% - 3.75rem);
        }
        .workonoff-list-goPage {
            height: pxTorem(60px);
        }
    } //电子看板
    .signage {
        padding: 0; //达成率颜色
        .reachRate {
            height: pxTorem(60px);
            line-height: pxTorem(60px);
            .rh {
                height: 100%;
                width: 100%;
                color: white;
            }
            .rhColor01 {
                background-color: #67C23A;
            }
            .rhColor02 {
                background-color: #E6A23C;
            }
            .rhColor03 {
                background-color: #F56C6C;
            }
        }
    } //检验规范
    .specification {
        display: flex;
        flex-direction: column;
        .specForm {
            display: flex;
            flex-direction: row;
            padding-bottom: pxTorem(20px);
            border-bottom: 1px solid #dfdfdf;
            height: pxTorem(58px);
            .el-form-item {
                display: flex;
                flex-direction: row;
                margin: 0;
                .el-select {
                    display: block;
                }
            }
            .plant {
                .el-form-item__label {
                    width: pxTorem(50px);
                }
            }
            .line {
                .el-form-item__label {
                    width: pxTorem(50px);
                }
            }
            .ptno {
                .el-form-item__label {
                    width: pxTorem(80px);
                }
            }
            .selectForm {
                flex: 1;
            }
            .subBtn {
                margin-left: pxTorem(20px);
                width: pxTorem(70px);
            }
        }
        .specTable {
            flex: 1;
        }
        .specInfo {
            .el-collapse-item__header {
                height: pxTorem(60px);
                line-height: pxTorem(60px);
                font-size: pxTorem(18px);
            }
            .el-collapse-item__content {
                p {
                    height: pxTorem(40px);
                    line-height: pxTorem(40px);
                    display: flex;
                    flex-direction: row;
                    margin-bottom: pxTorem(5px);
                    .name {
                        width: pxTorem(80px);
                        text-align: right;
                        margin-right: pxTorem(10px);
                        font-weight: 800;
                    }
                    .value {
                        flex: 1;
                        padding: 0 10px;
                        border-bottom: 1px solid #dfdfdf;
                    }
                }
            }
            .type {
                .el-collapse-item__content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
                .yes {
                    color: green;
                }
                .no {
                    color: red;
                }
            }
        }
        .dialog-footer {
            button {
                width: 100%;
            }
        }
    } //注意事项
    .precautions {
        .panel-body {
            display: flex;
            flex-direction: column;
            .listForm {
                .el-card__body {
                    padding-bottom: 0;
                }
            }
            .tabelList {
                flex: 1;
                .listPreContent {
                    text-align: left;
                    display: block;
                    padding: 0 pxTorem(10px);
                }
            }
        }
    } //消息推送
    .messagePush {
        .panel-body {
            display: flex;
            flex-direction: column;
            .listForm {
                .el-card__body {
                    padding-bottom: 0;
                    .el-form-item .el-form-item__label {
                        width: inherit;
                    }
                }
            }
            .tabelList {
                flex: 1;
                .el-table__expanded-cell {
                    background-color: #efefef;
                    padding: pxTorem(20px);
                    .el-form {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        label {
                            color: #99a9bf;
                        }
                        .el-form-item {
                            margin: 0;
                            width: 50%;
                        }
                        .listInfoContent {
                            display: block;
                            text-align: left;
                        }
                    }
                }
                .listContent {
                    text-align: left;
                    display: block;
                    padding: 0 pxTorem(10px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap
                }
            }
        }
        .messagePushInfo {
            height: 100%;
            display: flex;
            flex-direction: column;
            .forms {
                flex: 1;
                margin-bottom: pxTorem(20px);
                .el-row {
                    margin: 0 !important;
                }
                .el-form-item {
                    .el-form-item__label {
                        width: pxTorem(80px);
                    }
                }
            }
            .subBtn {
                margin-bottom: 0;
                .el-form-item__content {
                    display: flex;
                    justify-content: center;
                }
            }
            .flagCloud {
                .el-form-item__content {
                    display: flex;
                    flex-direction: row;
                    .el-textarea {
                        flex: 1;
                    }
                    .el-button {
                        margin-left: pxTorem(20px);
                    }
                }
            }
            .el-dialog {
                .el-dialog__body {
                    padding-top: 0;
                    padding-bottom: 0;
                    .mainBody {
                        max-height: pxTorem(300px);
                        overflow-y: auto;
                        .el-form-item__label{
                            width:  pxTorem(60px);
                        }
                    }
                }
                .el-dialog__footer {
                    text-align: center;
                }
            }
        }
    }
}