.terView {
    .home {
        .menus {
            display: flex;
            flex-direction: row;
            .menuBox {
                height: pxTorem(300px);
                width: pxTorem(300px);
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                .icon {
                    height: pxTorem(100px);
                    line-height: pxTorem(100px);
                    width: pxTorem(100px);
                    text-align: center;
                    margin: auto;
                    margin-bottom: pxTorem(10px);
                    background-color: #1a9dd4;
                    color: white;
                    font-size: pxTorem(36px);
                    border-radius: pxTorem(10px);
                    box-shadow: pxTorem(3px) pxTorem(3px) pxTorem(5px) #a2a1a1;
                }
                .text {
                    font-size: pxTorem(30px);
                    color: #5a5a5a;
                }
            }
        }
    }
}