@import '~assets/scss/components/computed.scss';
//科斯达深圳每日进度看板
.kanbanView .ksd_man_sz {
  $color01: #00B0F0;
  $color02: #FFFF00;
  $color03: #008fc3;
  .kanban-title {
    background-color: $color01;
    color: black;
    height: pxTorem(100px);
    line-height: pxTorem(100px);
    .logo {
      position: absolute;
      height: 100%;
      width: pxTorem(300px);
      left: 0;
      img {
        width: 100%;
      }
    }
  }
  .kanban-body {
    display: flex;
    flex-direction: column;
    .manSzList {
      flex: 1;
      background: $color01;
      table {
        width: 100%;
        td {
          height: pxTorem(60px);
          text-align: center;
          font-size: pxTorem(26px);
        }
        thead {
          td {
            font-weight: 800;
          }
          .fa {
            margin-right: pxTorem(10px);
          }
        }
        tbody {
          .stateRed {
            background-color: red !important;
          }
          tr {
            td {
              font-weight: 600;
            }
          }
        }
        thead tr td:nth-child(7),
        thead tr td:nth-child(8),
        tbody tr td:nth-child(9),
        tbody tr td:nth-child(10),
        tbody tr td:nth-child(11),
        tbody tr td:nth-child(12),
        tbody tr:nth-child(2) td:nth-child(8) {
          background-color: $color02;
        }
      }
    }
    .manSzMsg {
      background-color: $color03;
      table {
        width: 100%;
        td {
          height: pxTorem(80px);
          font-size: pxTorem(28px);
          padding: pxTorem(10px);
          position: relative;
        }
        .msgTitle {
          text-align: center;
          width: pxTorem(150px);
          text-align: center;
        }
        .msgBody {
          text-align: center;
        }
      }
      .scrollMsg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: pxTorem(1px);
        .scrollBox {
          display: inline-block;
          height: pxTorem(80px);
          img {
            height: 100%;
            margin-left: pxTorem(5px);
            margin-right: pxTorem(5px);
          }
          span {
            font-size: pxTorem(40px);
            margin-right: pxTorem(20px);
            position: relative;
            top: pxTorem(9px);
          }
        }
      }
    }
  }
}
