//登录
.login-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #417f92;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .loginWarp {
    margin: auto;
    width: 95%;
    padding: pxTorem(25px) pxTorem(15px);
    border-radius: pxTorem(5px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    .login-title {
      background: #e0f5f9b8;
      border-radius: pxTorem(82px);
      width: pxTorem(171px);
      height: pxTorem(90px);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px; //border: 1px solid black;
      box-shadow: 4px 4px 23px black;
      .name {
        font-size: 26px;
        text-align: center;
        color: #22ab6d;
        margin-bottom: pxTorem(5px);
      }
      .msg {
        font-size: pxTorem(18px);
        color: #7b7b7b;
        text-align: center;
      }
      a {
        font-size: pxTorem(18px);
        color: #2799de;
        text-align: center;
      }
      margin-bottom: pxTorem(20px);
    }
    .login-form {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: pxTorem(5px);
      padding: pxTorem(10px);
      .weui-cell__hd {
        padding: 0 pxTorem(5px);
      }
      input{
        padding:0 pxTorem(10px);
      }
      .inputs{
        margin-bottom: pxTorem(20px);
      }
    }
  }
}

.phoneView {
  .home {
    .slide {
      height: pxTorem(150px);
      border-bottom: 1px solid #dfdfdf;
      .slide-item {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          text-align: center;
        }
      }
    }
    .menus {
      display: flex;
      flex-direction: row;
      .menuBox {
        height: pxTorem(100px);
        width: pxTorem(100px);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        .icon {
          height: pxTorem(50px);
          line-height: pxTorem(50px);
          width: pxTorem(50px);
          text-align: center;
          margin: auto;
          margin-bottom: pxTorem(10px);
          background-color: #1a9dd4;
          color: white;
          font-size: pxTorem(36px);
          border-radius: pxTorem(10px);
          box-shadow: pxTorem(3px) pxTorem(3px) pxTorem(5px) #a2a1a1;
        }
        .text {
          font-size: pxTorem(14px);
          color: #5a5a5a;
        }
        &:active {
          .icon {
            background-color: #1ad49c;
          }
          .text {
            color: #0e26b3;
          }
        }
      }
    }
  }
  .news {
    .module-body {
      .msg {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text {
          text-align: center;
        }
      }
    }
  }
  .user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .userInfo {
      display: flex;
      flex-direction: row;
      padding: pxTorem(10px);
      background-color: white;
      margin-bottom: pxTorem(20px);
      .users {
        flex: 1;
        display: flex;
        flex-direction: column;
        >div {
          padding: pxTorem(10px) pxTorem(5px);
        }
      }
      .userLogo {
        margin-left: pxTorem(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: pxTorem(60px);
          height: pxTorem(60px);
          overflow: hidden;
          border-radius: 999px;
          border: 1px solid #dfdfdf;
        }
      }
    }
    .userBtn {
      height: 80px;
      padding: 0 pxTorem(10px);
      padding-bottom: pxTorem(30px);
      button {
        width: 100%;
        height: 100%;
      }
    }
  } //标签扫码
  .scanner {
    .warp {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .scannerBtn {
      height: pxTorem(60px);
      width: 100%;
      &:active {
        .mint-button--primary {
          background-color: #5a5a5a;
          color: #fff;
        }
      }
    }
  } //安灯图表
  .andonChart {
    .warp {
      display: flex;
      flex-direction: column;
      padding: 0 !important;
    }
    .chartSearch {}
    .chart {
      flex: 0.5;
    }
  }
}
