

.login-container {
    background-color: #2d3a4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .loginBox {
        width: 300px;
        margin: auto;
        .title {
            color: white;
            text-align: center;
            margin-bottom:20px;
            font-size: 30px;
        }
        .loginGroup{
            display: flex;
            flex-direction: row;
            margin-bottom:20px;
            .el-form-item{
                height:40px;
                flex-grow: 1;
                margin-bottom:0;
            }
            label{
                color:white;
                line-height:40px;
                width:45px;
            }
        }
        .loginBtn{
            width: 100%;
        }
    }
}