    .kanbanView {
        //首页
        .home {
            .menus {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: left;
                .menuBox {
                    height: pxTorem(250px);
                    width: pxTorem(250px);
                    margin-top: pxTorem(20px); // margin-bottom: pxTorem(20px);
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    cursor: pointer;
                    .icon {
                        height: pxTorem(140px);
                        line-height: pxTorem(140px);
                        width: pxTorem(140px);
                        text-align: center;
                        margin: 0 auto;
                        margin-bottom: pxTorem(10px);
                        background-color: #1a9dd4;
                        color: white;
                        font-size: pxTorem(70px);
                        border-radius: pxTorem(10px);
                        box-shadow: pxTorem(3px) pxTorem(3px) pxTorem(5px) #a2a1a1;
                        transition: all 2s ease;
                    }
                    .text {
                        font-size: pxTorem(20px);
                        color: #5a5a5a;
                    }
                }
                .menuBox:hover {
                    .icon {
                        background-color: #1ad455;
                        color: #1a9dd4;
                    }
                    .text {
                        font-size: pxTorem(24px);
                        color: #1ad455;
                    }
                }
            }
        } 
    }