@import '~assets/scss/components/computed.scss';
//科斯达深圳每日进度看板
.kanbanView .ksd_dayBuild_sz {
  $color01: #007dfe;
  $color07: rgb(255, 255, 255);
  $color02: rgb(99, 234, 252);
  $color03: rgb(0, 0, 0);
  $color04: rgb(189, 229, 235);
  $color05: rgb(0, 0, 0);
  $color06: rgb(0, 0, 0);
  // thead字体大小
  $fontsize01:pxTorem(26px);
  $fontsize02:pxTorem(16px);
  // tbody字体大小
  $fontsize03:pxTorem(30px);
  .kanban-title {
    background-color: $color01;
    color: $color07;
    height: pxTorem(100px);
    line-height: pxTorem(100px);
    .logo {
      position: absolute;
      height: 100%;
      width: pxTorem(260px);
      left:pxTorem(0px);
      img {
        height: auto;
        width: auto;
      }
    }
  }
  .kanban-body {
    display: flex;
    flex-direction: column;
    background-color: $color01;
    .dayBuildSzList {
      flex: 1;
      display: flex;
      flex-direction: column; //表宽度
      table {
        background: $color01;
        width: 100%;
        tr {
          td {
            text-align: center;
            height: pxTorem(30px);
            padding: pxTorem(8px);
            border-right: 1px solid black;
            border-bottom: 1px solid black;
          }
        }
        .titles {
          font-weight:800;
          color: black;
          div {
            font-size: $fontsize02;
            &:nth-child(1){
            font-size: $fontsize01;
            }
          }
        }
      }
      .ptnmSmall {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .listMoreHead {
        tr {
          td {
            background: $color02;
            color: $color03 !important;
            font-weight: 800;
          }
        }
        
      }
      .listMoreHead tr td,
      .listBody tr td {
        padding:pxTorem(20px) 0;
        &:nth-child(1) {
          width: pxTorem(50px) !important;
          max-width: pxTorem(50px) !important;
          min-width: pxTorem(50px) !important;
        }
        &:nth-child(2) {
          width: pxTorem(110px) !important;
          max-width: pxTorem(110px) !important;
          min-width: pxTorem(110px) !important;
        }
        &:nth-child(3) {
          width: pxTorem(110px) !important;
          max-width: pxTorem(110px) !important;
          min-width: pxTorem(110px) !important;
        }
        &:nth-child(4) {
          width: pxTorem(250px) !important;
          max-width: pxTorem(250px) !important;
          min-width: pxTorem(250px) !important;
        }
        &:nth-child(5) {
          width: pxTorem(110px) !important;
          max-width: pxTorem(110px) !important;
          min-width: pxTorem(110px) !important;
        }
        &:nth-child(6) {
          width: pxTorem(110px) !important;
          max-width: pxTorem(110px) !important;
          min-width: pxTorem(110px) !important;
        }
        &:nth-child(7) {
          width: pxTorem(110px) !important;
          max-width: pxTorem(110px) !important;
          min-width: pxTorem(110px) !important;
        }
        &:nth-child(8) {
          width: pxTorem(110px) !important;
          max-width: pxTorem(110px) !important;
          min-width: pxTorem(110px) !important;
        }
        &:nth-child(9) {
          width: pxTorem(130px) !important;
          max-width: pxTorem(130px) !important;
          min-width: pxTorem(130px) !important;
        }
        &:nth-child(10) {
          max-width: 7%;
          width: 7%;
        }
        &:nth-child(11) {
          max-width: 7%;
          width: 7%;
        }
        &:nth-child(12) {
          max-width: 7%;
          width: 7%;
        }
      }
      .listHead {
        border-top: 1px solid black;
        border-bottom: 5px solid black;
        td {
          background: $color02;
          color: $color03 !important;
          &:nth-child(1) {
            max-width: 5%;
            width: 5%;
          }
          &:nth-child(2) {
            max-width: 6%;
            width: 6%;
          }
          &:nth-child(3) {
            max-width: 7%;
            width: 8%;
          }
          &:nth-child(4) {
            max-width: 7%;
            width: 7%;
          }
          &:nth-child(5) {
            max-width: 7%;
            width: 7%;
          }
          &:nth-child(6) {
            max-width: 12%;
            width: 12%;
          }
          &:nth-child(7) {
            max-width: 5%;
            width: 5%;
          }
          &:nth-child(8) {
            max-width: 10%;
            width: 10%;
          }
          &:nth-child(9) {
            max-width: 5%;
            width: 5%;
          }
          &:nth-child(10) {
            max-width: 5%;
            width: 5%;
          }
          &:nth-child(11) {
            max-width: 11%;
            width: 11%;
          }
          &:nth-child(12) {
            max-width: 12%;
            width: 12%;
          }
        }
        
        .img {
          position: relative;
          img {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .wd {
          position: relative;
          div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            span {
              font-weight: 800;
              flex: 0.5;
              display: flex;
              flex-direction: column;
              justify-content: center;
              &:first-child {
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
      .listBody {
        flex: 1;
        overflow-y: auto;
        border:1px solid $color06;
        table{
        }
        td{
          border: 1px solid $color06;
          background: $color04;
          color: $color05;
          font-size: $fontsize03;
        }
        .fg {
          td {
            background: rgb(196, 239, 255);
          }
        }
      }
    }
    .msg {
      height: pxTorem(75px);
      background-color: black;
      color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      overflow: hidden;
      .text {
        letter-spacing: pxTorem(3px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        font-size: pxTorem(30px); // animation: msgMove 90s infinite;
        // left: -100%;
        white-space: nowrap;
        width: 100%;
        text-align: center;
      }
      marquee {
        line-height: pxTorem(75px);
        font-size: pxTorem(40px);
      }
      @keyframes msgMove {
        0% {
          left: -100%;
        }
        100% {
          left: 100%;
        }
      }
    }
  }
}
