@import '~assets/scss/components/computed.scss';
//科斯达深圳生产管理看板
.kanbanView .ksd_line_sz {
  $color01: #00B0F0;
  $color02: #FFFF00;
  display: flex;
  flex-direction: column;
  .build_list {
    flex: 1;
    background: #f1f1f1;
    table {
      width: 100%;
      thead td,
      tbody td {
        position: relative;
        height: pxTorem(65px);
        text-align: center;
        font-weight: 800;
        color: black;
        font-size: pxTorem(26px);
        border: 1px solid black;
      }
      thead {
        .date{
          font-size: pxTorem(24px);
        }
        td {
          background-color: $color01;
        }
        .logo {
          img {
            height: 100%;
            width: pxTorem(300px);
            position: absolute;
            top: 0;
            left: 0;
          }
          border-right: 0px;
        }
        .title {
          font-size: pxTorem(34px);
          font-weight: 800;
          text-align: center;
          letter-spacing: pxTorem(5px);
          border-left: 0px;
        }
        .picture {
          position: relative;
          img {
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }
        .mainTitle {
          td {
            background-color: $color02;
          }
        }
        tr:nth-child(4) {
          & td:nth-child(1) {
            width: pxTorem(120px);
          }
          & td:nth-child(2) {
            width: pxTorem(300px);
          }
          & td:nth-child(4) {
            width: pxTorem(120px);
          }
          & td:nth-child(5) {
            width: pxTorem(120px);
          }
          & td:nth-child(6) {
            width: pxTorem(150px);
          }
          & td:nth-child(7),
          & td:nth-child(8) {
            width: pxTorem(200px);
          }
        }
      }
      tbody {
        td {
          background-color: white;
        }
        .tdLong {
          div {
            position: absolute;
            top: 0;
            text-align: left;
            height: 100%;
            width: 100%;
            padding: 0 pxTorem(10px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
          }
        } // tr td:nth-child(1) {
        //     width: 7%;
        // }
        // tr td:nth-child(2),
        // tr td:nth-child(3) {
        //     width: 18%;
        // }
      }
    }
  }
  .msg {
    height: pxTorem(75px);
    background-color: black;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .text {
      letter-spacing: pxTorem(3px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      font-size: pxTorem(30px); // animation: msgMove 90s infinite;
      // left: -100%;
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }
    @keyframes msgMove {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
  }
}
