@import '~assets/scss/components/computed.scss';
.kanbanView .alsWare {
  $color01: #8DB4E2;
  $color02: #CCC0DA;
  .titleStyle {
    background-color: $color01;
    color: #b60404;
  }
  .kanban-body {
    display: flex;
    flex-direction: column;
    .ware_list {
      background-color: #636363;
      flex: 1;
      table {
        width: 100%;
        thead td,
        tbody td {
          text-align: center;
        }
        thead {
          .shelveNo {
            width: pxTorem(90px);
          }
          td {
            height: pxTorem(45px);
            background-color: $color02;
            font-size: pxTorem(26px);
            font-weight: 800;
          }
          .noName {
            position: relative;
            .Legend {
              position: absolute;
              right: pxTorem(10px);
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              flex-direction: row;
              >* {
                display: inline-block;
              }
              .box {
                height: pxTorem(20px);
                width: pxTorem(20px);
                margin-right: pxTorem(5px);
                border: 1px solid #dfdfdf;
                border-radius: 2px;
              }
              .full {
                background-color: white;
              }
              .empty {
                background-color: white;
                background-color: #F56C6C;
              }
              .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: pxTorem(10px);
              }
            }
          }
        }
        tbody {
          .titleFirst {
            background-color: #016906;
            color: white;
            font-size: pxTorem(24px);
            letter-spacing: pxTorem(2px);
          }
          td {
            border: 1px solid black;
          }
          .colBoxsTd {
            border: 0;
          }
          .colBoxs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .colBox {
              width: 5%;
              border: 1px solid black;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }
    }
    .bottomInfo {
      display: flex;
      height: pxTorem(100px);
      border-top: 1px solid black;
      background: $color02;
      justify-content: space-around;
      .bottomInfoBox {
        display: flex;
        border-right: 1px solid black;
        width: 25%;
        justify-content: center;
        &:last-child {
          border-right: 0;
        }
        >* {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: pxTorem(30px);
          font-family: fantasy;
        }
        .title {
          //font-weight: 800;
          margin-right: pxTorem(5px);
        }
        .val {}
      }
    }
    .msg {
      height: pxTorem(75px);
      background-color: black;
      color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      overflow: hidden;
      .text {
        letter-spacing: pxTorem(3px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        font-size: pxTorem(30px); // animation: msgMove 90s infinite;
        // left: -100%;
        white-space: nowrap;
        width: 100%;
        text-align: center;
      }
      @keyframes msgMove {
        0% {
          left: -100%;
        }
        100% {
          left: 100%;
        }
      }
    }
  }
}
