$border:#545454;
* {
    word-break: break-all;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: pxTorem(18px);
}

a {
    font-weight: 300;
    text-decoration: none;
    &:active,
    &:hover {
        outline: 0;
    }
}

i {
    font-style: normal;
}

img {
    width: auto;
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    &:not([src*="/"]) {
        display: none !important;
    }
}

ol,
ul,
li {
    list-style-type: none;
    list-style: none;
}

input,
textarea,
button {
    border: 0;
    border-radius: 0;
    appearance: none;
}

//重写样式与公共样式
//面包屑
.panel {
    background-color: #fff;
    border-radius: pxTorem(4px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    height: 100%;
    .panel-title {
        position: relative;
        border-top-left-radius: pxTorem(4px);
        border-top-right-radius: pxTorem(4px);
        color: white;
        background-color: #1d90e6;
        padding: 0 pxTorem(15px);
        height: pxTorem(50px);
        line-height: pxTorem(50px);
        font-size: pxTorem(18px);
        font-weight: 800;
        text-transform: uppercase;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
        .title {
            font-size: pxTorem(26px);
            letter-spacing: pxTorem(2px);
        }
        .back {
            position: absolute;
            left: pxTorem(10px);
            line-height: pxTorem(50px);
            height: 100%;
            display: flex;
            flex-direction: row;
            .icon {
                margin-right: pxTorem(5px);
                line-height: pxTorem(45px);
                font-size: pxTorem(28px);
            }
            .text {
                line-height: pxTorem(48px);
                font-size: pxTorem(16px);
            }
        }
        .back:active {
            i,.text {
                color: burlywood;
                transition: all 0.25s ease;
            }
        }
        .right {
            position: absolute;
            right: pxTorem(10px);
        }
        .logo {
            position: absolute;
            left: pxTorem(20px);
            top: 50%;
            transform: translateY(-55%);
        }
    }
    .textCenter {
        text-align: center;
    }
    .panel-body {
        padding: pxTorem(15px);
        overflow-y: auto;
        font-weight: normal;
        position: relative;
        $panelBodyHeight: pxTorem(50px);
        height: calc(100% - #{pxTorem(50px)});
        .bottom-toolbar {
            margin-top: pxTorem(15px);
            padding: pxTorem(15px) 0;
        }
    }
}

.footer {
    background: #fff;
    padding: pxTorem(15px);
    color: #7A7676;
    font-size: pxTorem(12px);
    position: static;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eff0f4;
}

//平板版本头部用户退出按钮
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    width: fit-content;
    padding: pxTorem(5px);
    border-radius: pxTorem(5px);
    background: #65cea7;
    .dropdown-list {
        padding: 0;
        line-height: normal;
    }
    .dropdown-btn {
        display: block;
        color: #fff;
        font-size: pxTorem(13px);
        padding: pxTorem(7px) pxTorem(7px);
        text-align: left;
        border-radius: pxTorem(3px);
        cursor: pointer;
        &:hover {
            background: #2a323f;
            color: #fff;
        }
        .icon {
            margin-right: pxTorem(5px);
        }
    }
} // 列表
.el-table {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border: 1px solid black !important;
    td {
        text-align: center;
    }
    thead .cell {
        text-align: center;
    }
    .cell,
    th>div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .edit {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .el-table__header-wrapper {
        height: pxTorem(60px);
    }
    .el-table__body-wrapper {
        flex: 1;
    }
    td,
    th {
        height: pxTorem(60px);
        min-width: pxTorem(120px);
    }
} //卡片
.el-card {
    border: 1px solid $border;
    .el-card__header {
        padding: 0 pxTorem(15px);
        height: pxTorem(42px);
        line-height: pxTorem(42px);
        border-bottom: 1px solid $border;
        span {
            font-weight: 800;
        }
    }
    .el-card__body {
        height: -webkit-calc(100% - #{pxTorem(42px)});
        height: -moz-calc(100% - #{pxTorem(42px)});
        height: calc(100% - #{pxTorem(42px)});
    }
} //tab切换
.el-tabs {
    .el-tabs__header {}
    .el-tabs__content {
        height: calc(100% - #{pxTorem(42px)});
    }
} //用户信息选择
.dropdown-btn {
    display: flex !important;
    flex-direction: row;
    i {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    span {
        flex: 1;
        white-space: nowrap;
    }
} //页面加载中
.esop-pageloading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 45, 61, 0.52);
    color: white;
    display: flex;
    justify-content: center;
    z-index: 99999;
    .msg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .icon {
            text-align: center;
            margin-bottom: pxTorem(10px);
            font-size: pxTorem(26px);
        }
        .title {}
    }
} //下拉框
.el-select {
    width: 100%;
} //用户下拉
.el-dropdown-menu {
    min-width: pxTorem(100px);
}

.el-form-item {
    display: flex !important;
    flex-direction: row !important;
    .el-form-item__label {
        width: pxTorem(100px);
        font-size: pxTorem(16px);
    }
    .el-form-item__content {
        .el-date-editor.el-input {
            width: inherit;
        }
        flex:1;
    }
}

.el-message {
    transform: translateX(-50%);
}

.el-loading-spinner .circular {
    animation: loading-rotate 2s linear infinite;
}

//分页
.esop-goPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

//隐藏画板按钮
.card-hidden-btn {
    float: right;
    font-size: pxTorem(30px);
    color: #888585;
}

//隐藏画板主体
.card-body-hidden {
    .el-card__body {
        display: none;
    }
}

//带搜索功能的画板主体
.listForm {
    margin-bottom: pxTorem(20px);
    .el-card__body {
        .form_body {
            display: flex;
            flex-direction: row;
            .forms {
                margin-left: 0;
                margin-right: 0;
                flex: 1;
            }
            .btn {
                margin-left: pxTorem(20px);
            }
        }
    }
}

.el-input__inner {
    border: 1px solid $border !important;
}