.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 8;
}
.layout-breadcrumb{
    padding: 10px 15px 0;
}
.layout-content{
    min-height: 480px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.layout-content-main{
    padding: 10px;
    text-align: center; 
}
.layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
.layout-menu-left{
    background: #404040;
    width: 200px;
    margin-left: -1px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 34px;
    z-index: 10;
}
.layout-header{
    height: 80px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    line-height: 80px;
    width: 100%;
    font-size: 30px;
    color: #555;
    font-weight: bold;
    padding-left: 50px;
    // margin-top: -1px;
}
.layout-logo-left{
    width: 100%;
    height: 80px;
    background: #404040;
    padding: 10px 0;
    // border-radius: 3px;
    // margin: 15px auto;
}

.input-select-class {
	width: 200px;
    padding-bottom:5px;
}

.input-select-width-middle-class {
	width: 400px;
}

.layout-content-main{
    padding: 10px;
}
.hr1{ 
    height:1px;
    border:none;
    border-top:1px solid #dddee1;
    padding-top:5px;
    padding-bottom:5px;
}
.table-form-input-select-col{
    padding:2px 5px 2px 5px;
}
.content-div{
    margin-bottom:5px;
}
.content-table-modal-show-p{
    font-size:24px;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
    background: #404040;
}
.layout-ceiling{
    background: #464c5b;
    padding: 10px 0;
    overflow: hidden;
}
.layout-ceiling-main{
    float: right;
    margin-right: 15px;
}
.layout-ceiling-main a{
    color: #9ba7b5;
}
.footer {
    height: 34px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #aaaaaa;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.conten_main {
    position: absolute;
    right: 0px;
    left: 200px;
    top: 0px;
    bottom: 34px;
    z-index: 9;
    overflow: auto;
    width: calc(100% - 200px);
}
.layout_row {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.sd-box-bar {
    font-size: 16px;
    color: #555;
    height: 20px;
    line-height: 20px;
    padding-left: 13px;
    border-left: 4px solid #0a8ddf;
    font-weight: bold;
    text-align: left;
}
.sd-box2 {
    padding-bottom: 20px;
}

.sd-box {
    background-color: #ffffff;
}